h1{
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    color: green;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 30px;
    margin-top: 70px;

}
img{
    transform: scale(1.05);
    
}
img:hover{
transform: scale(1.1);
filter: brightness(0.5);
}